<h2>Мои курсы</h2>
<p>Мои курсы на Stepik:</p>
<ul>
    <li>
        <a href="https://stepik.org/course/219106/promo" target="_blank">Технологии и методы программирования</a>
    </li>
    <li>
        <a href="https://stepik.org/course/231016/promo" target="_blank">Бот-Лаборатория</a>
    </li>
    <li>
        <a href="https://stepik.org/course/222338/promo" target="_blank">Программирование на Python. Быстрый старт</a>
    </li>         
    <li>
        <a href="https://stepik.org/course/116030/promo" target="_blank">Программирование со здравым смыслом на Scratch</a>
    </li>                
    <li>
        <a href="https://stepik.org/course/176852/promo" target="_blank">Электронные таблицы со здравым смыслом</a>
    </li>                       
</ul>
<p>Видеозаписи к курсам:</p>
<ul>
    <li>
        <a href="https://rutube.ru/video/8b15eede117c535a706a7b2dc0c43e02/?playlist=145924" target="_blank">Создаём вирутальное окружение и устанавливаем необходимые пакеты. PyCharm</a>
    </li>
    <li>
        <a href="https://rutube.ru/video/338c56a2cc6bb7a49a96e25da9a2916b/?playlist=145924" target="_blank">Создаём вирутальное окружение и устанавливаем необходимые пакеты. Командная строка</a>
    </li>
    <li>
        <a href="https://rutube.ru/video/6919929150bacc350bb1ccc5a9c5aff8/?playlist=145924" target="_blank">Создаём вирутальное окружение и устанавливаем необходимые пакеты. PyCharm ещё раз</a>
    </li>                    
    <li>
        <a href="https://rutube.ru/video/f16db624e1f639cfe35433ee7028e715/?playlist=145924" target="_blank">Как в PyCharm подать на вход данные из файла, чтобы не вводить постоянно вручную</a>
    </li>

    <li>
        <a href="https://rutube.ru/video/93149bd623eb61b944bad7d2288ab469/?playlist=145924" target="_blank">Решаем 27 задачу (динамическое программирование) ЕГЭ по информатике в LibreOffice Calc</a>
    </li>                    
    <li>
        <a href="https://rutube.ru/video/1f80e5d6a29002b30c318675d04184fb/?playlist=145924" target="_blank">Excel. Посчитать сколько учеников из каждой школы сдавали экзамен по каждому предмету</a>
    </li>                                        
    <li>
        <a href="https://rutube.ru/video/875413ba6ccf09b5a747c715b57365d0/?playlist=145924" target="_blank">Excel. Найти общее количество баллов набранных в каждый день сдачи экзаменов</a>
    </li>                                        
    <li>
        <a href="https://rutube.ru/video/bd57b72f8b21cdd5a7c2a54916f34aaa/?playlist=145924" target="_blank">Excel. Найти средний балл по всем предметам в каждой школе</a>
    </li>    
    
    <li>
        <a href="https://rutube.ru/video/9a71116ff691cbcfc4e0ef839e29151c/?playlist=145924" target="_blank">Легкий тест на Python</a>
    </li>                      
    <li>
        <a href="https://rutube.ru/video/f599238bf210f80cc5dc954854ce2e1c/?playlist=145924" target="_blank">Простой тест на Python</a>
    </li>                      
    <li>
        <a href="https://rutube.ru/video/b50719d58554e10f40f52cd746939b59/?playlist=145924" target="_blank">Python learn. Sieve of Eratosthenes</a>
    </li>                                          
    <li>
        <a href="https://rutube.ru/video/34f320aae4d9b23746313bdc7795c3f6/?playlist=145924" target="_blank">Python learn. Short String Code and Decode</a>
    </li>                                                             
    
    <li>
        <a href="https://rutube.ru/video/45b88ea4ea504bb42c8816e299a072f6/?playlist=145924" target="_blank">Знакомство со Scratch</a>
    </li>                                                              
    <li>
        <a href="https://rutube.ru/video/5a8463e6090b77f9df039eb7cec6e0a2/?playlist=145924" target="_blank">Музыкальный автомат на Scratch</a>
    </li>                                                              
    <li>
        <a href="https://rutube.ru/video/4b85d0d0d6307a997515d539fd2ad4ee/?playlist=145924" target="_blank">В лесу родилась елочка на Scratch</a>
    </li>                                                              
</ul>
